@import './modules/header.less';
@import './modules/navbar.less';
@import './modules/banner.less';
@import './modules/services.less';
@import './modules/testimonials.less';
@import './modules/footer.less';

*, html {
    scroll-behavior: smooth;
}
body {
    background-color: @color-white;
    color: @color-black;
    font-size: 21px;
    font-family: @font-family-primary;
    font-weight: @font-weight-light;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 .5em;
}

p, p + p {
    padding-bottom: 10px;
}

.home h1 {
    margin-top: 0px;
}


// Add "btn-link" class to all "<span> <a href="#" class='btn-link'> </span>"
a.btn-link{
    align-items: center;
    background-color: @color-primary;
    color: @color-white;
    display: inline-flex;
    font-size: @font-size-19;
    justify-content: center;   
    min-height: 46px;
    padding: 0px 15px;
    text-decoration: none;
}


// Anchor link, transistion and hover effect
a.btn-link:hover,
a.btn-link:active,
a.btn-link:focus {
    color: @color-white;
}


a{
    transition: 0.5s;
}
a:hover,
a:active,
a:focus {
    opacity: 0.6;
}

// Add Class Hover To Elements, wherever we need to reduce the opacity of element on hover
.hover:hover,
.hover:active,
.hover:focus{
    opacity: 0.65;
    
}


